# -*- coding: utf-8 -*-
#
# Copyright (C) 2022 CESNET.
#
# Invenio OARepo is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.

#
#  git init
#  git add -A
#  pip install -e .[all]
#  check-manifest -u

# Check manifest will not automatically add these two files:

include .editorconfig
prune docs/_build
recursive-include nr_documents_records *.po *.pot *.mo
graft nr_documents_records
